body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-con {
    background: linear-gradient(45deg, #0debf3, hsl(108, 89%, 19%), #089e2e);
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-con ul {
    display: flex;
    list-style: none;
    margin: auto;
    gap: 5%;

}

.nav-con li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-con li a:hover {
    color: red;
    font-weight: bold;
}


.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*index*/

.text h2 {
    position: absolute;
    top: 5%;
    left: 10%;
    color: White;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 2px 3px black;
}

.con {}

.main {
    width: 100%;
    height: 100vh;
    background-image: url(images/img3.jpg);
    background-repeat: no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


.text p {
    color: white;
    width: 50%;
    position: absolute;
    top: 45%;
    left: 10%;
}



.footer-con .i-con {
    margin-top: 4% auto;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    border: solid 1px black;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    color: white;
    background: rgb(0, 0, 0);
}

.footer-con {
    margin: auto;
    width: 33.333333333333%;
    height: 100%;
    text-align: center;
    border: solid 1px black;
}

.footer-con h1 {
    font-size: 20px;
    color: white;
    margin-top: 8%;

}

.i-con {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

.i-con .y-con {
    width: 35px;
    height: 25px;
    border-radius: 7px;
    overflow: hidden;
}







/*scenery*/

.main1 {
    height: 100%;
    width: 100%;
    border: solid 1px black;
    background: url(images/img3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.con1 {
    margin: 97%;
    margin: 3%;
    display: flex;
    justify-content: space-evenly;
    border: solid 1px #32d6ec;
}

.right {
    height: 500px;
    width: 100%;
    border: solid 1px white;
    padding: 20px;
    overflow: scroll;
    color: white;
    text-shadow: black 2px 3px;


}

.left {
    height: 500px;
    width: 100%;
    border: solid 1px white;
    color: white;
    overflow: scroll;

}

.h1 {
    color: white;
    margin-left: 20%;
    text-shadow: black 2px 3px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    color: white;
    background: rgb(0, 0, 0);
}

.footer-con {
    margin: auto;
    width: 33.333333333333%;
    height: 100%;
    text-align: center;
    border: solid 1px black;
}

.footer-con h1 {
    font-size: 20px;
    color: white;
    margin-top: 8%;

}

.i-con {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

.i-con .y-con {
    width: 35px;
    height: 25px;
    border-radius: 7px;
    overflow: hidden;
}

.profile {
    display: flex;
    height: 90px;
    width: 1000px;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.img-1 {
    overflow: hidden;
    margin-left: 50px;
    border-radius: 100%;
    height: 50px;
    width: 50px;

}

.img {
    border-radius: 10px;
    height: 300px;
    width: 500px;
    margin-left: 70px;
    margin-top: 50px;
    border: solid 3px rgb(5, 184, 169);
    overflow: hidden;
    box-shadow: 3px 5px aqua;
}

.vtitle {
    height: 10%;
    width: 100%;
}

.vcon {
    height: 90%;
    width: 100%;
}

.vid {
    border: solid 3px aqua;
    box-shadow: 1px 2px;
    border-radius: 10px;
    width: 100%;
    height: 30vh%;
}

.vid video {
    width: 100%;
    height: 100%;
}

.top {
    height: 50px;
    width: 50px;

}

.down {
    height: 50px;
    width: 100px;
    margin-left: 200px;
}

.btn {
    margin-top: 10px;
}

/*history*/
.main2 {
    width: 100%;
    height: 100vh;
    background-image: url(images/img4.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.main2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.text h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: White;
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 2px 3px black;
}

.text1 h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: White;
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 2px 3px black;
}

.text1 p {
    color: white;
    width: 50%;
    position: absolute;
    top: 45%;
    left: 10%;
    text-shadow: 2px px black;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    color: white;
    background: rgb(0, 0, 0);
}

.footer-con {
    margin: auto;
    width: 33.333333333333%;
    height: 100%;
    text-align: center;
    border: solid 1px black;
}

.footer-con h1 {
    font-size: 20px;
    color: white;
    margin-top: 8%;

}

.i-con {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

.i-con .y-con {
    width: 35px;
    height: 25px;
    border-radius: 7px;
    overflow: hidden;
}


/*about*/

.con5 {
    width: 100%;
    height: 100vh;
    background-image: url(images/img3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.con5::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.text2 p {
    color: white;
    width: 50%;
    position: absolute;
    top: 45%;
    left: 10%;
    text-shadow: 2px 3px black;
}

.text2 h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: White;
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 2px 3px black;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    width: 100%;
    color: white;
    background: rgb(0, 0, 0);
}

.footer-con {
    margin: auto;
    width: 33.333333333333%;
    height: 100%;
    text-align: center;
    border: solid 1px black;
}

.footer-con h1 {
    font-size: 20px;
    color: white;
    margin-top: 10%;

}

.footer-con .i-con {
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    border: solid 1px black;
}

.i-con {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 7px;
    overflow: hidden;
}

.ycon {
    width: 35px;
    height: 25px;
    border-radius: 7px;
    overflow: hidden;
}